/*Style sheet for week work */

html,body /* Controls overall style of the web site */
{
	font-family:verdana;
	font-size:12pt;
	width:100%;
	height:100%;
	color:#000000;
	background-color:rgb(120,120,190);
	margin:0px;
}

/* This is a style sheet to control grid layout.
   Use this with grid.htm file.
*/

/* the '*' below is shorthand for 'select all elements' */
* {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

/* Style the header */
.header {
  grid-area: header;
  background-color: rgb(120,120,190);  
  text-align: center;
  font-size: 35px;
  color: #ffffff;  
  
}
/* Style the SideNav*/
.sidenav {
  height:100% ;
  width: 100%;
  overflow: auto;
  position: relative;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #000000;
  overflow-x: hidden;
  padding-top: 20px;
  
}

.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: #ffffff;
  display: block;
}

.sidenav a:hover {
  color: rgb(120,120,190); 
}

/* The grid container */
.grid-container {
  display: grid;
  height: 100%;
  grid-template-areas: 
    'header header header' 
    'left middle1 right' 
    'footer footer footer';
    /*grid-column-gap: 10px; - if you want gap between the columns*/
} 

.left,
.middle1,,
.right {
  padding: 10px;
  
}

/* Style the left column */
.left {
  grid-area: left;
}

/* Style the middle column 
.middle {
  grid-area: middle;
}
*/

/* Style the right column */
.right {
  grid-area: right;
}

/* Style the footer */
.footer {
  grid-area: footer;
  background-color: #f1f1f1;
  padding: 10px;
  text-align: center;
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media (max-width: 600px) {
.grid-container  
	{
	grid-template-areas: 
	  'header header header' 
	  'left left left' 
	  'middle1 middle1 middle1'
	  'right right right ' 
	  'footer footer footer';
	}
.middle1
	{
		grid-area:middle1;
	} 

	
}